<h2>Yummy in my Tummy 2</h2>
<ul class="recipes">
  <li *ngFor="let recipe of recipes"
    [class.selected]="recipe === selectedRecipe"
    (click)="onSelect(recipe)">
    <span>{{recipe.id}}</span> {{recipe.name}}
  </li>
</ul>

<app-recipe-details [recipe]="selectedRecipe"></app-recipe-details>


<!--
<div *ngIf="selectedRecipe">

  <h2>{{ selectedRecipe.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedRecipe.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedRecipe.name" placeholder="name">
    </label>
  </div>
</div>
-->


<!--
{{recipe}}

<h1> API tryout </h1>
<div *ngFor= "let post of post">
  <h3>{{post.title}}</h3>
</div>

-->
